.chat-flex {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100dvh;
  min-height: 100dvh;
}

.chat-content {
  min-width: 0;
  overflow: auto;
  background: #151515;
}

@media (max-width: 1024px) {
  .chat-flex { 
    grid-template-columns: 1fr; 
  }
}
