<div class="chat-flex" [attr.data-state]="collapsed() ? 'closed' : 'open'">
  <app-sidebar
    [collapsed]="collapsed()"
    [activeId]="activeId()"
    (toggle)="collapsed.set($event)"
    (select)="onSelect($event)"
    (newClick)="onNewChat()"
    (chatModeChange)="onChatModeChange($event)">
  </app-sidebar>

  <main class="chat-content">
    <router-outlet></router-outlet>
  </main>

  <!-- Modal de Búsqueda -->
  @if (showSearchModal()) {
    <app-search-chat (close)="onCloseSearchModal()"></app-search-chat>
  }

  <!-- Menu del Perfil-->
  @if (showProfileMenu()) {
    <app-event-options-menu 
      (close)="onCloseProfileMenu()"
      (optionSelected)="onProfileMenuOption($event)">
    </app-event-options-menu>
  }
</div>
