:root {
  --color-black: #000;
  --color-white: #fff;
  --color-coral-red-50: #fff1f1;
  --color-coral-red-100: #ffdfe0;
  --color-coral-red-200: #ffc5c6;
  --color-coral-red-300: #ff9d9f;
  --color-coral-red-400: #ff6467;
  --color-coral-red-500: #ff383c;
  --color-coral-red-600: #ed1519;
  --color-coral-red-700: #c80d11;
  --color-coral-red-800: #a50f12;
  --color-coral-red-900: #881416;
  --color-coral-red-950: #4b0405;
  --color-flush-orange-50: #fff7ed;
  --color-flush-orange-100: #ffeed4;
  --color-flush-orange-200: #ffd9a8;
  --color-flush-orange-300: #ffbd71;
  --color-flush-orange-400: #ff8d28;
  --color-flush-orange-500: #fe7711;
  --color-flush-orange-600: #ef5c07;
  --color-flush-orange-700: #c64308;
  --color-flush-orange-800: #9d360f;
  --color-flush-orange-900: #7e2e10;
  --color-flush-orange-950: #441406;
  --color-supernova-50: #fffee7;
  --color-supernova-100: #fffec1;
  --color-supernova-200: #fff886;
  --color-supernova-300: #ffec41;
  --color-supernova-400: #ffdb0d;
  --color-supernova-500: #ffcc00;
  --color-supernova-600: #d19500;
  --color-supernova-700: #a66a02;
  --color-supernova-800: #89530a;
  --color-supernova-900: #74430f;
  --color-supernova-950: #442304;
  --color-malachite-50: #f1fcf3;
  --color-malachite-100: #defae4;
  --color-malachite-200: #bef4cb;
  --color-malachite-300: #8beaa2;
  --color-malachite-400: #51d772;
  --color-malachite-500: #30d158;
  --color-malachite-600: #1d9c3d;
  --color-malachite-700: #1a7b32;
  --color-malachite-800: #1a612d;
  --color-malachite-900: #175027;
  --color-malachite-950: #072c12;
  --color-turquoise-50: #eefffb;
  --color-turquoise-100: #c6fff4;
  --color-turquoise-200: #8effeb;
  --color-turquoise-300: #4dfbe1;
  --color-turquoise-400: #19e8cf;
  --color-turquoise-500: #00dac3;
  --color-turquoise-600: #00a497;
  --color-turquoise-700: #02837a;
  --color-turquoise-800: #086761;
  --color-turquoise-900: #0c5550;
  --color-turquoise-950: #003433;
  --color-viking-50: #ebfffe;
  --color-viking-100: #ceffff;
  --color-viking-200: #a2fdff;
  --color-viking-300: #63f8fd;
  --color-viking-400: #1ce9f4;
  --color-viking-500: #00d2e0;
  --color-viking-600: #03a3b7;
  --color-viking-700: #0a8194;
  --color-viking-800: #126778;
  --color-viking-900: #145665;
  --color-viking-950: #063946;
  --color-seagull-50: #f0faff;
  --color-seagull-100: #dff5ff;
  --color-seagull-200: #b8edff;
  --color-seagull-300: #79dfff;
  --color-seagull-400: #3cd3fe;
  --color-seagull-500: #07bcf0;
  --color-seagull-600: #0098cd;
  --color-seagull-700: #0078a6;
  --color-seagull-800: #036589;
  --color-seagull-900: #095471;
  --color-seagull-950: #06354b;
  --color-dodger-blue-50: #edfcff;
  --color-dodger-blue-100: #d6f6ff;
  --color-dodger-blue-200: #b5f1ff;
  --color-dodger-blue-300: #83eaff;
  --color-dodger-blue-400: #48dbff;
  --color-dodger-blue-500: #1ec0ff;
  --color-dodger-blue-600: #06a4ff;
  --color-dodger-blue-700: #0091ff;
  --color-dodger-blue-800: #086ec5;
  --color-dodger-blue-900: #0d5e9b;
  --color-dodger-blue-950: #0e385d;
  --color-blue-ribbon-50: #eef6ff;
  --color-blue-ribbon-100: #d8ebff;
  --color-blue-ribbon-200: #2f3740;
  --color-blue-ribbon-300: #8ac8ff;
  --color-blue-ribbon-400: #53a8ff;
  --color-blue-ribbon-500: #2c83ff;
  --color-blue-ribbon-600: #095afb;
  --color-blue-ribbon-700: #0e4ce7;
  --color-blue-ribbon-800: #123ebb;
  --color-blue-ribbon-900: #153993;
  --color-blue-ribbon-950: #122459;
  --color-blue-marguerite-50: #ecefff;
  --color-blue-marguerite-100: #dde1ff;
  --color-blue-marguerite-200: #c2c8ff;
  --color-blue-marguerite-300: #9ca3ff;
  --color-blue-marguerite-400: #7775ff;
  --color-blue-marguerite-500: #6b5dff;
  --color-blue-marguerite-600: #5636f5;
  --color-blue-marguerite-700: #4a2ad8;
  --color-blue-marguerite-800: #3c25ae;
  --color-blue-marguerite-900: #342689;
  --color-blue-marguerite-950: #201650;
  --color-magenta-fuchsia-50: #fdf4ff;
  --color-magenta-fuchsia-100: #fae7ff;
  --color-magenta-fuchsia-200: #f6cfff;
  --color-magenta-fuchsia-300: #f2a9fe;
  --color-magenta-fuchsia-400: #eb76fc;
  --color-magenta-fuchsia-500: #db34f2;
  --color-magenta-fuchsia-600: #c522d7;
  --color-magenta-fuchsia-700: #a619b2;
  --color-magenta-fuchsia-800: #891692;
  --color-magenta-fuchsia-900: #731877;
  --color-magenta-fuchsia-950: #4d0250;
  --color-radical-red-50: #fff0f1;
  --color-radical-red-100: #ffe2e6;
  --color-radical-red-200: #ffcad3;
  --color-radical-red-300: #ff9fae;
  --color-radical-red-400: #ff6983;
  --color-radical-red-500: #ff375f;
  --color-radical-red-600: #ed1147;
  --color-radical-red-700: #c8083d;
  --color-radical-red-800: #a8093a;
  --color-radical-red-900: #8f0c38;
  --color-radical-red-950: #500119;
  --color-antique-brass-50: #f9f5f1;
  --color-antique-brass-100: #ede3d8;
  --color-antique-brass-200: #d9c4ae;
  --color-antique-brass-300: #c5a484;
  --color-antique-brass-400: #b78a66;
  --color-antique-brass-500: #ac7354;
  --color-antique-brass-600: #975c48;
  --color-antique-brass-700: #7e493f;
  --color-antique-brass-800: #693c37;
  --color-antique-brass-900: #573330;
  --color-antique-brass-950: #301918;
}

:root .theme-light {
  --background: rgb(231, 229, 228);
  --foreground: rgb(30, 41, 59);
  --card: rgb(245, 245, 244);
  --card-foreground: rgb(30, 41, 59);
  --popover: rgb(245, 245, 244);
  --popover-foreground: rgb(30, 41, 59);
  --primary: rgb(53, 107, 252);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(214, 211, 209);
  --secondary-foreground: rgb(75, 85, 99);
  --muted: rgb(231, 229, 228);
  --muted-foreground: rgb(107, 114, 128);
  --accent: rgb(218, 230, 255);
  --accent-foreground: rgb(55, 65, 81);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(214, 211, 209);
  --input: rgb(214, 211, 209);
  --ring: rgb(53, 107, 252);
  --chart-1: rgb(53, 107, 252);
  --chart-2: rgb(31, 74, 241);
  --chart-3: rgb(23, 53, 222);
  --chart-4: rgb(25, 45, 180);
  --chart-5: rgb(26, 43, 142);
  --sidebar: rgb(214, 211, 209);
  --sidebar-foreground: rgb(30, 41, 59);
  --sidebar-primary: rgb(53, 107, 252);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(218, 230, 255);
  --sidebar-accent-foreground: rgb(55, 65, 81);
  --sidebar-border: rgb(214, 211, 209);
  --sidebar-ring: rgb(53, 107, 252);
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
}

:root .theme-dark {
  --background: rgb(30, 27, 24);
  --foreground: rgb(226, 232, 240);
  --card: rgb(44, 40, 37);
  --card-foreground: rgb(226, 232, 240);
  --popover: rgb(44, 40, 37);
  --popover-foreground: rgb(226, 232, 240);
  --primary: rgb(53, 107, 252);
  --primary-foreground: rgb(30, 27, 24);
  --secondary: rgb(58, 54, 51);
  --secondary-foreground: rgb(209, 213, 219);
  --muted: rgb(44, 40, 37);
  --muted-foreground: rgb(156, 163, 175);
  --accent: rgb(72, 68, 65);
  --accent-foreground: rgb(209, 213, 219);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(30, 27, 24);
  --border: rgb(58, 54, 51);
  --input: rgb(58, 54, 51);
  --ring: rgb(53, 107, 252);
  --chart-1: rgb(53, 107, 252);
  --chart-2: rgb(31, 74, 241);
  --chart-3: rgb(23, 53, 222);
  --chart-4: rgb(25, 45, 180);
  --chart-5: rgb(26, 43, 142);
  --sidebar: rgb(58, 54, 51);
  --sidebar-foreground: rgb(226, 232, 240);
  --sidebar-primary: rgb(53, 107, 252);
  --sidebar-primary-foreground: rgb(30, 27, 24);
  --sidebar-accent: rgb(72, 68, 65);
  --sidebar-accent-foreground: rgb(209, 213, 219);
  --sidebar-border: rgb(58, 54, 51);
  --sidebar-ring: rgb(53, 107, 252);
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}
